.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  padding-left: 20px;
}
h1 {
  text-align: center;
}
.Center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
